{% extends 'layout.twig' %}

{% block body %}


    <div class="container">
        <span id="question_container" class="question__container"></span>
        <div id="answers_container" class="answer__container"></div>


        <video id="videoElement"></video>
    </div>
{% endblock %}
