{% extends 'layout.twig' %}

{% block body %}


    <div class="container">
        <h1 class="container__title">PoC - Control your own live stream</h1>
        <span id="question_container" class="container__question"></span>
        <div id="answers_container" class="container__answers"></div>


        <video id="video_element"></video>
    </div>
{% endblock %}
