<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    {# Include flv video player #}
    <script src="flv.min.js"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
<script src="/js/functions.js"></script>

</html>
