<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  <script src="/javascripts/functions.js"></script>

</html>
